<!DOCTYPE HTML>
<html>

<head>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <style>
  img {
    max-width: 150px;
    max-height: 150px;
    margin-top: 10px;
    cursor: pointer;
  }
  </style>
</head>

<body>
  <!--header start here-->
  <div class="header">
    <div class="container">
      <div class="header-main home">
        <div class="logo">
          <a>DEMO APP</a>
        </div>
        <span class="menu"> <img src="../assets/images/icon.png" alt="" /> </span>
        <div class="header-navg">
          <ul class="res">
            <li><a class="active">HOME</a></li>
            <li><a href="#">ABOUT US</a></li>
            <li><a href="#">JOBS</a></li>
            <li><a href="#">CLIENTS</a></li>
            <li><a href="#">EMPLOYERS</a></li>
            <li><a href="#">CONTACT US</a></li>
          </ul>
        </div>
        <div class="clearfix"> </div>
      </div>
      <div class="header-bottom">
        <h1>l'm looking for..</h1>
        <form>
          <input type="text" value="Enter a Job Description" onfocus="this.value = '';" onblur="if (this.value = 'Enter a Job Description') {this.value = 'Enter a Job Description';}">
          <input type="submit" class="ser" value="Search"><br>
          <label class="checkbox">
          <input type="checkbox" value="checked">Full Time</label>
          <label class="checkbox">
          <input type="checkbox" value="checked">Part Time/Casual/Freelance</label>
          <select name="cars">
            <option value="select your location"> Select your location</option>
            <option value="saab">location1</option>
            <option value="fiat">location2</option>
            <option value="audi">location3</option>
          </select><br><br><br>
        </form>

        <div class="div">
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Register</button>
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 style="color: black;" class="modal-title fs-5" id="exampleModalLabel">Register</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
                    <div class="left" id="imageContainer">
                      <img id="displayImg" src="../assets/images/icon_photo.png" onclick="selectImage()">
                      <div><label for="fileInput" style="color: blue; cursor: pointer;">Upload Your Photo</label></div>
                      <input type="file" id="fileInput" style="display: none;" (change)="onFileSelected($event)">
                    </div>
                  
                    <div class="right">
                      <input class="input" formControlName="firstName" placeholder="First Name" style="width: 200px;" required>
                      <input class="input" formControlName="lastName" placeholder="Last Name" style="width: 200px; margin-left:10px ;" required><br><br>
                      <input class="input" type="email" formControlName="email" placeholder="Email" style="width: 425px;" required><br><br>
                      <input class="input" type="tel" formControlName="phoneNumber" placeholder="(541)754-3010" style="width: 425px;" required><br><br>
                      <div class="slider-container">
                        <div class="age-label" id="age-value">Age: {{ registrationForm.get('age').value }}</div>
                        <input class="input" type="range" min="20" max="60" style="width: 425px;" formControlName="age" (input)="updateAge()">
                      </div>
                      <select class="select" formControlName="state">
                        <option value="" disabled selected>State</option>
                        <option value="Maharashtra">Maharashtra</option>
                        <option value="Delhi">Delhi</option>
                        <option value="Gujarat">Gujarat</option>
                        <option value="Haryana">Haryana</option>
                        <option value="Other">Other</option>
                      </select><br><br>
                      <select class="select" formControlName="country">
                        <option value="" disabled selected>Country</option>
                        <option value="India">India</option>
                        <option value="Uk">Uk</option>
                        <option value="USA">USA</option>
                        <option value="Other">Other</option>
                      </select><br><br>
                      <textarea class="textarea" formControlName="address" placeholder="Address" style="width: 425px;"></textarea><br><br>
                      <textarea class="textarea" formControlName="tags" placeholder="Tags" style="width: 425px;"></textarea><br><br>
                      <button class="button" type="button" (click)="toggleTagline('Cricket')">Cricket</button>
                      <button class="button" type="button" (click)="toggleTagline('Football')">Football</button>
                      <button class="button" type="button" (click)="toggleTagline('Hockey')">Hockey</button><br><br>
                      <div id="tagline">{{ tagline }}</div>
                  
                      <input class="input" type="checkbox" formControlName="newsletter">
                      <label for="newsletter">Subscribe to Newsletter</label><br><br>
                      <button class="cancel" type="reset">Cancel</button>
                      <button type="submit">Submit</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  <!--about start here-->

  <div class="intro">
    <div class="container">
      <div class="intro-main">
        <h2>We're leaders in</h2>
        <h3>Creative Digital Recruitmemt</h3>
        <span class="b"> </span>
        <p>Based in Surry Hills, the creative hub of Sydney we are surrounded by creativity<br>and that reflects on the
          type of jobs we recruit for. </p>
        <h4><a href="#"> FIND OUT MORE ABOUT US!</a></h4>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>

  <!--contant start here-->
  <div class="strip"> </div>
  <div class="contant">
    <div class="container">
      <div class="contant-main">
        <h3>Subscribe to our Job Seeker Mailing List</h3>
        <span class="search"> <input type="text" value="Enter Your Email Address" onfocus="this.value = '';"
            onblur="if (this.value == '') {this.value = 'Enter Your Email Address';}" />
          <input type="submit" value=""></span>
      </div>
    </div>
  </div>
  <!--footer start here-->
  <div class="strip"> </div>
  <div class="footer-h">
    <div class="container">
      <div class="footer-main">
        <div class="col-md-6 footer-left">
          <p>Copyright & 2014 Two Bytes Consulting <b>Terms & Policies</b></p>
        </div>
        <div class="col-md-6 footer-right" style="margin-left: 800px;">
          <ul>
            <li ><a href="#"> <span class="x"> </span> </a></li>
            <li class="m">692</li>
            <li><a href="#"> <span class="y"> </span> </a></li>
            <li class="r"> 117</li>
          </ul>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
    
</body>
</html>
