<div class="header">
    <div class="container">
        <div class="header-main home">
            <div class="logo">
                <a>DEMO APP</a>
            </div>
            <div class="header-navg">
                <ul class="res">
                    <li><a class="active">HOME</a></li>
                    <li><a href="#">ABOUT US</a></li>
                    <li><a href="#">JOBS</a></li>
                    <li><a href="#">CLIENTS</a></li>
                    <li><a href="#">EMPLOYERS</a></li>
                    <li><a href="#">CONTACT US</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<h2>Profile</h2>
<div class="p">
    <p> I'm {{firstname}} {{lastname}} and I'm above {{age}} years and you can send your emails to <span style="color: blue;">{{email}}.</span> I live in {{state}} state of {{country}} in {{address}}. I like to play {{tags}}. Please reach out to me on my phone number {{phoneNumber}} </p>
    <button>I Agree</button>
</div>

