<div class="header">
    <div class="container">
        <div class="header-main home">
            <div class="logo">
                <a>DEMO APP</a>
            </div>
            <div class="header-navg">
                <ul class="res">
                    <li><a class="active">HOME</a></li>
                    <li><a href="#">ABOUT US</a></li>
                    <li><a href="#">JOBS</a></li>
                    <li><a href="#">CLIENTS</a></li>
                    <li><a href="#">EMPLOYERS</a></li>
                    <li><a href="#">CONTACT US</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>


    <p>{{firstname}}</p>
    <p>{{lastname}}</p>
   

